/serverless-django-wsgi-requirements-test
/.idea/workspace.xml
/djangotest/db.sqlite3
/djangotest/djangotest/__pycache__
/.idea/inspectionProfiles
/djangotest/.DS_Store
/.idea/serverless-django-wsgi-requirements-test.iml
